@(redirectForm: Form[RedirectModel])(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._

@main(Messages("products.form")) {
  <h2>@Messages("products.form")</h2>

  @helper.form(action = routes.Redirects.save()) {
    <fieldset>
      <label for="targetURL">Target URL : </label><div id='thecurrenturl'></div>
    
      <legend>
        @Messages("products.details", Messages("products.new"))
      </legend> 
      
      @inputText(redirectForm("uid"), '_label -> "User ID",'onBlur->"myFunction()",'_help -> "Enter a valid user id.")
      @inputText(redirectForm("iurl"))
      @textarea(redirectForm("qargs"), 'onBlur->"myFunction()")
      @textarea(redirectForm("rurl"))
      
    </fieldset>
    
    <p><input type="submit" class="btn primary"
        value='@Messages("products.new.submit")'></p>
  }
  
	<script type="text/javascript">
		var successFn = function(data) {
			console.debug("Success of Ajax Call");
			console.debug(data);
			};
			var errorFn = function(err) {
			console.debug("Error of ajax Call");
			console.debug(err);
		}
		 
		ajax1 = {
			success: successFn,
			error: errorFn
		}
		 
		function myFunction() {
			var idToGet = document.getElementById('uid').value
			var qargsToGet = document.getElementById('qargs').value
			
			var s= document.getElementById('thecurrenturl');
  			var testingVal = '/redirect/oauth/'+idToGet+'/'+qargsToGet;
  			s.innerHTML = 'http://localhost'+testingVal
  			
  			document.getElementById('iurl').value = testingVal;
  			
			jsRoutes.controllers.Redirects.getString()
			.ajax(ajax1);
		 
		}
	</script>
}
